html{
    height: 100%;
}
body {
    background-image: url("./assets/images/background.jpg");
    color: white;
    background-size: cover;
    margin: 0;
}
.MuiButton-root.MuiButton-contained.Mui-disabled  {
    background-color:white !important;
}
.links{
    background-color: #4d5f6b;
    margin: 10px 2px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media (min-width: 600px){
    .links{
        margin: 10px 5px;
    }
     
}
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
    display: flex;
    background-color: #0c151e;
}