html{
    height: 100%;
}
body {
    background-image: url("./assets/images/background.jpg");
    color: white;
    background-size: cover;
}
.MuiButton-root.MuiButton-contained.Mui-disabled  {
    background-color:white !important;
}